<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-google"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            Scraper
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">
            <i class="fas fa-filter"></i>
            <span>Scraping</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('reports') }}">
            <i class="fas fa-fw fa-book"></i>
            <span>Reports</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/longnd/google-scraper">
            <i class="fab fa-fw fa-github-alt"></i>
            <span>Github</span>
        </a>
    </li>
</ul>
