{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mt-4 mb-2 text-gray-800">Past scraping requests</h1>
        <p class="mb-4">
            Here are the past scraping requests
        </p>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">History</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Total keywords</th>
                        </tr>
                        <tbody>
                        <tr>
                            <td>01/01/2019</td>
                            <td>300</td>
                        </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}